
body {
    background: rgb(240, 208, 159);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
}

header {
    position: relative;
    width: 1000px;
    height: 120px;
    margin: 20px auto;
}
#top {
    position: relative;
    margin: 20px auto;
    width: 1070px;
    height: 192px;
}

#top ul {
    width: 1070px;
    height: 192px;
}

#top ul li {
    float: left;
    width: 327px;
    height: 192px;
    margin-right: 5px;
    list-style: none;
    text-align: center;
}

#top ul li img {
    border-radius: 100%;
    height: 100px;
}

#top ul li h1 {
    font-family: 'Courier New', Courier, monospace;
}

#top ul li p {
    font-size: 14px;
    margin: 10px;
}


#logo {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 200px;
    height: 60px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 50px;
    text-align: center;
    line-height: 60px;
}

.redes {
    position: absolute;
    width: 42px;
    height: 42px;
    background: #516d1d;
    border-radius: 100%;
    text-align: center;
    line-height: 42px;
    color: white;
}

#icono1 {
    top: 42px;
    right: 120px;
    background: goldenrod;
}

#icono2{
    top: 42px;
    right: 71px;
    background: #516d1d;
}

#icono3 {
    top: 42px;
    right: 19px;
    background: orange;
}

nav {
    position: relative;
    width: 1080px;
    height: 48px;
    margin: 6px auto;
}

.botones {
    float: left;
    width: 192px;
    height: 48px;
    margin: 2px 4px;
    list-style: none;
    background:rgb(91, 70, 11);
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    line-height: 48px;
}
footer {
    position: relative;
    margin: 20px auto;
    width: 1080px;
    height: 70px;
    background: rgb(91, 70, 11);
    text-align: center;
    line-height: 70px;
    color: white;
}

section {
    position: relative;
    margin: auto;
    width: 1000px;
    height: 453px;
}

aside#izq {
    position: absolute;
}
aside#izq ul{
    position:absolute;
    left: 0;
    width: 200px;
    height: 453px;
}

aside#izq ul li {
    background: rgb(141, 108, 17);
    padding: 10px;
    margin: 3px 10px;
    color: white;
}

aside#izq ul li a {
    text-decoration: none;
}

article {
    position: relative;
    left: 200px;
    top: 50px;
    width: 600px;
    height: 453px;
    margin: 10px;
}

article h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    margin: 20px;
}

article p {
    margin: 5px 20px;
    font-size: 14px;
    text-align: justify;
}

article p img {
    float: left;
    margin-right: 20px;
}

aside#izq, aside#der {
    top: 50px;
}

aside#der {
    position: absolute;
    right: 0;
    width: 200px;
    height: 453px;
}

aside#der h1 {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #645608;
    color: white;
    margin-bottom: 5px;
}

aside#der input {
    padding: 10px;
    margin: 5px 0;
    width: 176px;
}

aside#der input[type="text"]{
    background-position: right;
    background-size: contain;
}

aside#der input[type="passwoard"]{
    background-position: right;
    background-size: contain;
}

aside#der input[type="submit"]{
    width: 200px;
    background: #e2851a;
    border: 0;
}

#chat {
    position: fixed;
    width: 250px;
    height: 40px;
    bottom: 0;
    right: 20px;
    background: mediumslateblue;
    z-index: 1;
    color: white;
    text-align: center;
    line-height: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
}