* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/*Productos*/

.products {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.products h1{
    margin: 35px 0;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: linear-gradient(to right, rgb(27, 172, 172), rgb(71, 230, 230));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#shopContent{
    display: grid;
    width: 100%;
    grid-template-columns: 25px 25px 25px 25px;
    justify-content: space-between;
}


.card .tarjetas {
    width: 290px;
    height: 400px;
    box-shadow: 0 0 8px aqua;
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px;
    background: #f6f6f6;
    margin: 10px;
}

.tarjetas .pequeña_tarjeta {
    display: flex;
    flex-flow: column;
    position: absolute;
    margin: 10px 0;
    transform: translateX(-20px);
    transition: 0.3s;
    opacity: 0;
}

.tarjetas:hover .pequeña_tarjeta{
    transform: translateX(2px);
    cursor: pointer;
    opacity: 1;
}

.tarjetas .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjetas .image img{
    width: 140px;
    margin: 8px 0;
    transition: 0.3s;
}

.tarjetas:hover .image img{
    transform: scale(1.1);
}


.pequeña_tarjeta i{
    width: 45px;
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
    margin: 2px 0;
    line-height: 40px;
    border: 2px solid aquamarine;
    transition: 0.2s;
}

.pequeña_tarjeta i:hover{
    color: aqua;
}

.product_text h2{
    font-size: 30px;
    margin-top: 15px;
}

.product_text p{
    color: cadetblue;
    line-height: 21px;
    margin: 8px 0;
}
.product_text h3{
    margin: 7px 0;
}

.product_text .product_stars{
    color:darkorange;
    margin-bottom: 19px;
    cursor: pointer;
}

.product_text .btn{
    text-decoration: none;
    padding: 10px 20px;
    background: linear-gradient(to right, rgb(27, 172, 172), rgb(71, 230, 230));
    color: white;
    cursor: pointer;
}
